@use 'vars/colors' as *;
@import "./bootstrap-custom";

.misti {
    font-family: var(--fuente-misti), sans-serif;
}

.checkboxLabel {
    font-size: .85rem;
    color: #1E1A31;
    font-family: var(--fuente-misti), sans-serif;
    font-weight: 300;
    text-align: left;
    flex: 1;

    .bold {
        font-weight: 500;
    }

    a {
        font-size: .85rem;
        color: #1E1A31;
        font-family: var(--fuente-misti), sans-serif;
        font-weight: 500;
        text-align: left;

    }
}

/* Estilización del checkbox */
.customCheckbox {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-top: 10px;
}

.customCheckbox input {
    display: none;
}

.checkboxBox {
    width: 20px;
    height: 20px;
    border: 2px solid #1A172B;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 8px;
    transition: background 0.2s;

    &.bajar {
        margin-top: .25rem;
    }
}

.customCheckbox input:checked+.checkboxBox {
    background: #1A172B;
    color: white;
}

.checkboxLabel {
    font-size: 14px;
}

.h1Oculto {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.formContainer {
    position: relative;
    z-index: 11;
    margin-top: -4rem;

    @media screen and (min-width: 992px) {
        margin-top: 0rem;
    }
}

input[type="date"],
input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    border-radius: 10px;
    font-size: 14px;
    font-family: var(--fuente-misti), sans-serif;
    font-weight: 400;
}

input:focus {
    outline: none;
    border: 1px solid #EEEEEE;
    /* Opcional si el input tiene borde */
    box-shadow: none;
    /* Elimina sombras si hay */
}

button[type=submit] {
    width: 396px;
    height: 56px;
    background: #1A172B;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 0rem 0;
}

.customSelect {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: .65rem;

    &::after {
        content: "▼";
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 0.8rem;
        color: #777;
    }

    select {
        appearance: none;
        /* Elimina la flecha nativa */
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: white;
        cursor: pointer;
        font-size: 14px;
        font-family: var(--fuente-misti), sans-serif;
        font-weight: 400;
    }
}



.curvaSuperior {
    position: absolute;
    top: -6rem;
    left: 0;
    background: white;
    clip-path: ellipse(60% 100% at 50% 100%);
    width: 100vw;
    height: 122px;
    z-index: 2;

    @media screen and (min-width: 992px) {
        top: -5rem;
    }
}

.logoCampana {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -11.5rem;
    z-index: 4;
    width: 100%;

    @media screen and (min-width: 992px) {
        top: -19.5rem;
    }

    img {
        width: 250px;
        height: auto;
        object-fit: contain;

        @media screen and (min-width: 992px) {
            width: 494px;
        }
    }
}

.bgCielo {
    width: 100vw;
    height: 43vh;
    background: url('/bg.webp');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 992px) {
        height: 60vh;
    }

    @media screen and (min-width: 1400px) {
        height: 45vh;
    }
}

.titularContainer {
    text-align: center;

    h2 {
        font-size: 36px;
        font-weight: 800;
        line-height: 1em;

        @media screen and (min-width: 992px) {
            font-size: 56px;
            line-height: 1.5em;
        }
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }
}

.bgContenido {
    position: relative;
    background: white;
    width: 100vw;
    // height: 40vh;
}

.navMain {
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    >div {
        &:nth-child(1) {
            width: 48px;
            height: 48px;
        }
    }

    .logoMain {
        img {
            width: 120px;
            height: auto;
            object-fit: contain;
        }
    }

    .mainMenu {
        cursor: pointer;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        padding: .5rem;

        >div {
            width: 100%;
            height: 4px;
            background-color: white;
            margin-bottom: .25rem;
            border-radius: 8px;
        }
    }
}




.containerRelative {
    position: relative;
}


input[type="file"] {
    display: none;
}

.customUpload {
    background-color: #4f46e5;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;

    &:hover {
        background-color: #4338ca;
    }
}

.btnUploadFile {
    width: 80%;
    margin: auto;
    background: #EEEEEE;
    border: 0;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 0;
    border-radius: 30px;

    @media screen and (min-width: 992px) {
        width: 514px;
    }

    span {
        font-size: 16px;
        color: #1e1e1e;
        font-weight: 500;
    }
}

.btnUploadSubmit {
    width: 300px;
    height: 44px;
    background: #1A172B;
    border-radius: 30px;
    color: white;
    font-size: 24px;
    font-weight: 500;

    @media screen and (min-width: 992px) {
        width: 396px;
    }
}

.listFileContainer {
    border: 0px solid red;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 0rem;

    @media screen and (min-width: 992px) {
        width: 514px;
        padding: 0 3rem;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .btnDelete {
            width: 16px;
            height: 16px;
            background-color: #787878;
            border: 0;
            font-size: 9px;
            color: white;
            font-weight: 400;
            border-radius: 50%;
            text-align: center;
        }

        >div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                object-position: center;
            }

            p {
                margin: 0
            }
        }
    }
}

.graciasContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }

    >div {
        &:nth-child(1) {
            flex-basis: 60%;
            display: flex;
            justify-content: center;
            order: 2;

            @media screen and (min-width: 992px) {
                order: 1;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;

                @media screen and (min-width: 1400px) {
                    width: 500px;
                }
            }
        }

        &:nth-child(2) {
            box-sizing: border-box;
            padding: 0rem 3rem 0;
            flex-basis: 40%;
            order: 1;
            text-align: center;

            @media screen and (min-width: 992px) {
                order: 2;
                padding: 3rem 3rem 0;
            }

            h2 {
                font-size: 38px;
                font-weight: 600;
                margin: 0;
                text-align: center;

                @media screen and (min-width: 992px) {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                text-align: center;
                line-height: 1em;

                @media screen and (min-width: 992px) {
                    font-size: 32px;
                }
            }

            button {
                width: 250px;
                margin-bottom: 1.5rem;
                height: 44px;
                display: inline-block;
                margin: 1rem auto 0;
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                text-decoration: none;
                background: #1A172B;
                border-radius: 10px;
                color: white;
                border: 0;

                @media screen and (min-width: 992px) {
                    width: 396px;
                    height: 44px;
                    margin-bottom: 0rem;
                }
            }
        }
    }
}

.boldTexto {
    font-weight: 700 !important;
}

.bgGris {
    background: #EEEEEE !important;
}

.contenidoGeneral {
    margin-top: -4rem;
    position: relative;
    z-index: 12;

    @media screen and (min-width: 992px) {
        margin-top: 0;
    }

    .headerTitularContainer {
        h1 {
            font-size: 36px;
            color: #1E1A31;
            font-family: var(--fuente-misti), sans-serif;
            font-weight: 800;
            text-align: center;

            @media screen and (min-width: 992px) {
                font-size: 48px;
            }
        }
    }

    .gridSorteos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 2rem 0;

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .item {
            border: 1px solid #1A172B;
            border-radius: 20px;
            width: 100%;
            padding: 2rem .5rem;

            @media screen and (min-width: 992px) {
                padding: 2rem 1rem;
            }

            &.centerAlign {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            h4 {
                font-size: 10px;
                color: #1E1A31;
                font-family: var(--fuente-misti), sans-serif;
                font-weight: 800;
                text-align: center;
                margin: 0;
            }

            h5 {
                font-size: 16px;
                color: #1E1A31;
                font-family: var(--fuente-misti), sans-serif;
                font-weight: 500;
                text-align: center;
                margin: 0.5rem 0;
            }

            p,
            span {
                font-size: 12px;
                color: #1E1A31;
                font-family: var(--fuente-misti), sans-serif;
                font-weight: 400;
                text-align: center;
                margin: 0;
            }

            span {
                font-weight: 300;
                display: block;
            }

            h2 {
                font-size: 24px;
                color: #1A172B;
                font-family: var(--fuente-misti), sans-serif;
                font-weight: 800;
                text-align: center;
            }

            h3 {
                font-size: 24px;
                color: #1A172B;
                font-family: var(--fuente-misti), sans-serif;
                font-weight: 300;
                text-align: center;
            }

            a,
            .diabledLink,
            .montoContent {
                display: block;
                font-family: var(--fuente-misti), sans-serif;
                width: 118px;
                height: 36px;
                font-size: 12px;
                background: #8FD2EA;
                cursor: pointer;
                border-radius: 10px;
                text-decoration: none;
                line-height: 3em;
                text-align: center;
                margin: 1rem auto 0;
                color: #1E1A31;

                @media screen and (min-width: 992px) {
                    width: 136px;
                    line-height: 2.5em;
                    font-size: 14px;
                }
            }

            .montoContent {
                font-weight: 700;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                color: #221B35;
            }

            .diabledLink {
                background: rgba(#1D1B20, .2);
                color: #B2B1B8;
            }
        }
    }
}

.informacionPage {
    padding: 0rem;
    margin-top: -4rem;
    position: relative;
    z-index: 12;

    @media screen and (min-width: 992px) {
        margin-top: 0;
        padding: 2rem;
    }

    table {
        thead {
            tr {
                th {
                    background: #1E1A31;

                    p {
                        color: white !important;
                        font-weight: 500 !important;
                    }
                }
            }
        }
    }

    .headerTitularContainer {
        h1 {
            font-size: 36px;
            color: #1E1A31;
            font-family: var(--fuente-misti), sans-serif;
            font-weight: 800;
            text-align: center;

            @media screen and (min-width: 992px) {
                font-size: 48px;
            }
        }

        h3 {
            font-size: 24px;
            color: #1E1A31;
            font-family: var(--fuente-misti), sans-serif;
            font-weight: 700;
            text-align: center;
        }
    }

    .scrollContainer {
        margin-top: 2rem;
    }

    .contentContainer {
        .calendarContainer {
            margin: auto;
            text-align: center;

            img {
                width: 600px;
                height: auto;
                object-fit: contain;

            }
        }


        h2 {
            font-size: 16px;
            color: #1E1A31;
            font-family: var(--fuente-misti), sans-serif;
            font-weight: 600;
            text-align: left;
        }

        p {
            font-size: 16px;
            color: #1E1A31;
            font-family: var(--fuente-misti), sans-serif;
            font-weight: 300;
            text-align: left;
        }


    }
}



.scrollContainer {
    height: 300px;
    overflow-y: auto;

    /* Scrollbar personalizado */
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #888 #f0f0f0;

    /* Firefox */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

.navMainMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1A172B;
    z-index: 3000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &.open {
        transform: translateX(0);
    }

    nav {
        border: 0px solid red;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding-left: 3rem;

        a {
            font-size: 18px;
            color: white;
            font-family: var(--fuente-misti), sans-serif;
            font-weight: 600;
            text-align: left;
            text-decoration: none;

            @media screen and (min-width: 992px) {
                font-size: 35px;
            }

            &.btnLink {
                width: 243px;
                height: 46px;
                display: flex;
                justify-content: center;
                gap: .5rem;
                align-items: center;
                background-color: white;
                color: #29235D;
                font-size: 18px;
                border-radius: 10px;

                @media screen and (min-width: 992px) {
                    width: 407px;
                    font-size: 32px;
                }

                img {
                    width: 25px;
                    height: auto;
                    object-fit: contain;

                    @media screen and (min-width: 992px) {
                        width: 35px;
                    }
                }
            }
        }
    }

    .headerMain {
        position: relative;
        display: flex;
        justify-content: center;

        .btnClose {
            position: absolute;
            right: 1rem;
            top: 3.75rem;
            cursor: pointer;

            img {
                width: 20px;
                height: auto;
                object-fit: contain;
            }
        }
    }
}